@model HRWebApplication.Models.AttendancePayRateModels

@{
    ViewBag.Title = "Create New Attendance Pay Rate";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Attendance</h3>
            </div>
            <div class="title_right">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Create <small>Add New Attendance Pay Rate</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal col-md-9">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Client", htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownList("Clients_Id", ViewBag.listClient as SelectList, "Select Client", new { @class = "form-control" })
                                        @Html.ValidationMessage("Clients_Id", "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @*@Html.DropDownListFor(model => model.RefId, ViewBag.listWsTemplate as SelectList, "Select Workshifts Template", new { @class = "form-control" })*@
                                        <select class="form-control" id="RefId" name="RefId" disabled="disabled">
                                            <option value=""></option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.RefId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AttendanceStatuses_Id, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.AttendanceStatuses_Id, ViewBag.listAttStatus as SelectList, "Select Status", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AttendanceStatuses_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="checkbox">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.CheckBoxFor(model => model.Active, new { @checked = "checked" })
                                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Create" class="btn btn-success" />
                                        <a href="@Url.Action("Create", "AttendancePayRate")" class="btn btn-warning">Reset</a>
                                        <a href="@Url.Action("Index", "AttendancePayRate")" class="btn btn-default">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input.number').keyup(function (event) {

            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) return;

            // format number
            $(this).val(function (index, value) {
                return value
                .replace(/\D/g, "")
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                ;
            });
        });

        $('#Clients_Id').change(function () {
            if ($('#Clients_Id').val() == '') {
                $('#RefId').prop('disabled', true);
                $('#RefId').html('');
            }
            else {
                $('#RefId').prop('disabled', false);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadTemplates", "AttendancePayRate")',
                    data: { id: $('#Clients_Id').val() },
                    success: function (data) {
                        console.log(data.result);
                        var opt = "<option value=''>Select Workshift Templates</option>";
                        $.each(data.result, function (index, item) {
                            opt += "<option value='" + item.Value + "'>" + item.Text + "</option>";
                        });
                        $("#RefId").html(opt);
                    }, //end success
                    error: function (result) {
                        alert("Error " + result);
                    } //end error
                }); //end ajax
            }
        });
    });
</script>