@model HRWebApplication.Models.WorkshiftModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkshiftModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkshiftCategories_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkshiftCategories_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccounts_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccounts_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkshiftTemplates_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkshiftTemplates_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
